<%- include('./partials/_header.ejs'); -%>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><i class="fas fa-user-lock"></i> Ingresar รณ Registrarse</h1>
                <a href="/login" class="btn btn-dark"><i class="fas fa-user-circle"></i> Ingresar</a>
                <a href="/register" class="btn btn-dark"><i class="fas fa-user-circle"></i> Registrarse</a>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>